<!DOCTYPE html>
<html><head>
    <title>XML Sitemap Generator</title>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    </head>
    <body>
        <div class="container">
            <h1 class="text-center">
                XML Sitemap Generator
            </h1>
            <form action="/xmlsitemapgenerator" method="post">
              <div class="form-group">
                  <label for="url">Website URL:</label>
                  <input class="form-control" type="text" placeholder="google.com" name="url" id="" required>
              </div>
              <br>
              <div class="form-group">
                  <button class="btn btn-block btn-danger">
                      Download Sitemap File
                  </button>
              </div>
          </form>
          <br><br>
</body>
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</html>
    
 